@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

main section.cll{
    background-color: black;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    border: solid 5px gray;
    position: relative;
    box-shadow: 2px 1px 2px;
    transition-duration: .2s;
}

main section.cll:hover{
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.39);
}

main section.cll > .cmr{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%,-50%);
    border: solid 4px gray;
    
    background-color: rgb(2, 27, 2);
    border-radius: 20px;
    z-index: 1;
}

main section.cll .tela{
    height: 490px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}

main section.cll .tela iframe{
    width: 96.6%;
    height: 97%;
    border-radius: 10px;
    margin: 5px;
}

main section.buttons{
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100px;
    justify-content: space-between;
    padding: 5px;
}

.buttons a{
    position: relative;
}

.youtube img{
    border: 2px solid red;
}

.insta img{
    border: 2px solid purple;
}

.face img{
    border: 2px solid blue;
}

.buttons img{
    transition-duration: .2s;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}

@keyframes bf {
    0%{
       top: -4px;
    }
    50%{
        top: -2px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.377);
    }
    100%{
        top: 1px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.377);
    }
}

.buttons img:hover{
    border: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
    right: 2px;
    animation-duration: .6s;
    animation-name: bf;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}